h1 {
    color: #defdef;
    text-align: center;
}

#list {
    color: #dfdfdf;
}

.type-node {
    display: inline-block;
    margin: 50px;
    font-size: 22px;
}

.brand-node {
    margin: 10px;
    font-size: 18px;
}

.model-node {
    margin-left: 10px;
    font-size: 16px;
}