.active-link {
    color: green;
}

.container {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    color: #dddddd;
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 600;
}

loan-footer {
    position: absolute;
    bottom: 0;
    color: #dddddd;
    font-size: 20px;
    text-align: center;
    width: 1000px;
}