<div class="row">
    <div class="col-log-12">
            <a [routerLink]="[ '/home' ]" routerLinkActive="active-link"><div class="tile">Strona główna</div></a>
            <a [routerLink]="[ '/cars-list' ]" routerLinkActive="active-link"><div class="tile">Lista samochodów</div></a>
            <a [routerLink]="[ '/clients-list' ]" routerLinkActive="active-link"><div class="tile">Lista klientów</div></a>
            <a [routerLink]="[ '/loan-list' ]" routerLinkActive="active-link"><div class="tile">Lista wypożyczeń</div></a>
            <a [routerLink]="[ '/add-new-loan']" routerLinkActive="active-link"><div class="tile">Nowe wypożyczenie</div></a>
            <div style="clear:both;"></div>
    </div>
</div>
