.tile {
    float:left;
    padding: 10px;
    background-color: #004477;
    border-right: 1.5px dotted #002255;
    border-left: 1.5px dotted #002255;
    width: 177px;
    text-align: center;
    text-decoration: none;
    color: #7788bb;
}

.tile:hover {
    background-color: #002255;
}

a.active-link .tile {
    color: rgb(255, 238, 0);
}